body {
  font-family: 'Barlow', sans-serif;
}
.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #007bff;
  z-index: -99;
  transform: skewY(-12deg);
  transform-origin: top left;
}

.input-text {
  width: 300px;
  border-radius: 10px;
  border: 0px solid;
  padding: 12px;
}

.user-image {
  bottom: -35px;
  z-index: 1
}

.show-more:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
  background: #007bff;
  transition: 1s;
  border: 0px solid transparent
}
